#contrasto{
    width: 1000px;
    height: 800px;
    background-color: rgba(7, 4, 4, 0.596);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
}
#logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 10%;
  margin-bottom: auto; 
}
#background{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
}   
#title{
    color: rgb(35, 228, 9);
    text-align: center;
}
#button{
    text-align: center;
    padding: 1%;
}
#back-button{  
    background-color: rgb(35, 228, 9);
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 5%;
    border-radius: 10px 10px 10px 10px;
}
.elenco{
   color: aliceblue;
   text-align: left;
   margin: 2%;
   margin-left: 5%;
   margin-right: auto;
}
#gino{
    background-color: rgb(235, 177, 20) ;
    height: 25px;
    width: 300px; 
    border-radius: 10px 10px 10px 10px;
}
#mike{
    background-color: rgb(8, 175, 8) ;
    height: 25px;
    width: 550px; 
    border-radius: 10px 10px 10px 10px;
}
#fede{
    background-color: rgb(252, 22, 52) ;
    height: 25px;
    width: 120px; 
    border-radius: 10px 10px 10px 10px;
}/*aggiunto*/